/*inicio menu desplegable*/

#menu {
    margin: auto;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

ul,
ol {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav li a {
    /*background-color:#2ab5d5;*/
    background: linear-gradient(#2ab5d5, #afe7f3);
    color: #2c53ba;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    border-radius: 5px 5px 3px 3px;
    border: 2px solid #7fd2e5;
}

.nav li a:hover {
    background-color: #434343;
    /**/
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
    /*position: absolute*/
}

.nav li ul li ul {
    right: -110px;
    top: 0px;
}


/*fin menu desplegable*/